@import "../../../styles/variables.scss";

.input-wrapper {
  font-size: 1rem;
  color: $text-color;
  text-align: start;

  label {
    margin-bottom: 0.6rem;
  }

  .input-content {
    width: 100%;
    display: flex;

    .icon {
      padding: 0.75rem;
      background-color: $primary-color;
      border-radius: 0 0.5rem 0.5rem 0;

      img {
        height: 1.25rem;
      }
    }

    input {
      width: 100%;
      padding: 0.75rem 0 0.75rem 1.25rem;
      border: none;
      background-color: $gray-secondary-bg;
      border-radius: 0.5rem 0 0 0.5rem;
    }
  }
}
