@import "../../../styles/variables.scss";

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;

  .form-section {
    flex-grow: 0.33;

    h2 {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
  .main-section {
    gap: 0.5rem;

    flex-grow: 1;
    background-color: $gray-bg;
  }

  section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
